body {
  font-family: Arial, sans-serif;
  background: transparent;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-container {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 380px;
  text-align: center;
    box-shadow: 0 10px 30px black;
}

h2 {
  margin-bottom: 1rem;
  color: #333;
}

p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 1.2rem;
}

.form-group {
  text-align: left;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .4rem;
  font-size: 0.9rem;
  color: #555;
}

input {
  width: 100%;
  padding: .6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #FF9800;
  color: #111;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.btn:hover {
  background: #e68900;
  color: #000;
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.links {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.links a {
  color: #ff6600;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
